html,
body {
  height: 100%;
  background-color: rgb(245, 220, 242, 0.2);
}

.container {
  min-height: calc(100% - 50px);
}

.card {
  text-align: center;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
  height: 250px;
  width: 60%;
  /* width: 250px; */
  margin: auto;
  margin-bottom: 2px;
  padding: 1em;
  border-radius: 10%;

  box-shadow: rgba(83, 81, 81, 0.5) 0px 5px 15px;
  background-color: white;
}

.card:hover {
  background-color: rgb(245, 245, 220, 0.4);
}

.market img {
  padding: 0%;
  height: 500px;
  border: none;
  border-radius: 1em;
}
.btn {
  color: rgb(27, 25, 30);
  background-color: rgb(88, 160, 237);
  border: none;
  margin-top: auto;
  padding: 10px 15px;
  border-radius: 100px;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.second p {
  font-size: 2rem;
  text-align: justify;
}
.market {
  background-color: rgb(245, 245, 220, 0.4);
}
